# See https://help.github.com/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax
# for more information about the format and syntax of this file

* @duffelhq/engineering