name: 'CI: Pull request'

on: push

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn-lock.json') }}

      - name: Install packages
        run: yarn install

      - name: Run linter
        run: yarn lint

      - name: Run Prettier
        run: yarn prettier-check

      - name: Run commit linter
        run: yarn commitlint --from HEAD~${{ github.event.pull_request.commits }}
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Install packages
        run: yarn install

      - name: Run tests
        run: yarn test
